$white: #FFFFFF;
$grey: #b4b4b4;
$grey-light: #f0f0f0;
$grey-txt: #404040;
$grey-txt-light: #828282;
$orange: #ff580c;
$orange-hover: #f14e04;
$blue: #28a3b2;
$blue-hover: #228C98;
$blue-dark: #11404d;

.uppercase{text-transform:uppercase;}
.strong{font-weight:bold;}

.no-padding{padding:0;}
.m-20{margin:20px auto;}
.mt-8{margin-top:8px;}
